@use '../../global.scss';

.cart-container {
  display: grid;
  grid-template-areas: 
    'cart-header cart-header'
    'cart-item cart-checkout';
  padding: 48px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  position: relative;
}

.cart-item-container {
  
  grid-area: cart-item;
  margin-top: 48px;
  padding: 24px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.cart-item {
  border-bottom: 1px solid global.$border-color;
  margin-bottom: 10px;
  padding: 48px;
  width: 100%;
  display: grid;
  grid-template-columns: 150px 1fr;
  justify-content: flex-start;
  justify-self:  flex-start;
  align-items: center;
  gap: 32px;
  grid-template-areas: 
    'image title title title'
    'image price price price'
    'image select delete amount';
}

.cart-item-image {
  grid-area: image;
  background-color: global.$primary-color;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  padding: 6px;
  border-radius: 10px;

  img {
    width: 90%;
    height: 90%;
    mix-blend-mode: multiply;
  }
}

.cart-item-title {
  font-size: 20px;
  width: 90%;
  color: #343a40;
  grid-area: title;
}

.cart-item-price {
  grid-area: price;
}

.cart-quantity-items {
  grid-area: select;
  display: flex;
  align-items: center;
  gap: 12px;

  select {
    padding: 6px 12px;
    border-radius: 6px;
  }
}

.cart-item-delete {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  border-radius: 6px;
  max-width: 28px;
  max-height: 28px;
  grid-area: delete;

}

.cart-item-amount {
  grid-area: amount;
  font-weight: 700;
  font-size: 20px;
}

.cart-header {
  grid-area: cart-header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 142px;
  border-bottom: 1px solid global.$border-color;
}

.button-decrement, .button-increment {
  font-weight: 700;
  width: 25px;
  height: 25px;
  border-radius: 6px;
  
}

.cart-checkout {
  grid-area: cart-checkout;
  display: flex;
  flex-direction: column;
  padding: 24px;
  align-items: center;
  justify-content: center;
  gap: 32px;
  background-color: #EFEFEF;
  margin-top: 48px;
  height: 400px;

  span {
    font-size: 24px;
    font-weight: 700;
    color:#242a3a;
  }
}

.button-checkout, .button-cancel-purchase {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 46px;
  padding: 6px 12px;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 700;
}
.button-checkout {
  background-color: global.$bg-button;
}

.button-cancel-purchase {
  background-color: #242a3a;
  color: #EFEFEF;
}

.empty-cart-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 36px;
  height: 50vh;
  gap: 24px;
  color: #242a3a;
  font-size: 100px;
  padding: 48px 0;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  
  span {
    font-size: 24px;
    font-weight: 500;
  }
}

@media(max-width: 950px) {
  .cart-container {
    grid-template-areas: 
    'cart-header cart-header'
    'cart-item cart-item'
    'cart-checkout cart-checkout';
  // padding: 48px;
  }
 }
 @media(max-width: 1400px) {
 
.cart-item-container {
  width: 100%;
}
  
 }

 @media(max-width: 1400px) {
  .cart-item {
    grid-template-areas: 
    'image title title title'
    'image price price price'
    'select select delete amount'
    ;
  }
 }

 @media(max-width: 620px) {
  .cart-item-title {
   width: 100%;
   font-size: medium;
   text-align: justify;
  }
  .cart-item {
    padding: 24px;
    grid-template-areas: 
    'image title title title'
    'image price price price'
    'select select select select'
    'delete delet amount amount'
    ;
  }

  .cart-checkout {
    width: 100%;
  }
 }

 @media(max-width: 460px) {
  .cart-item {
    padding: 12px;
    grid-template-areas: 
    'title title title title'
    'image price price price'
    'select select select select'
    'delete delet amount amount'
    ;
  }
  .cart-container {
    padding: 24px;
  }
 }