@use '../../global.scss';

.product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid global.$border-color;
  border-radius: 10px;
  padding: 10px;
  width: 260px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;

  &:hover {
    cursor: pointer;
  }

}

.product-title {
  font-size: 18px;
  width: 250px;
  text-align: center;
}

.product-image {
  width: 200px;
  height: 200px;
  margin: 6px 0;
}

.product-price {
  font-weight: 500;
}