@use '../../global.scss';

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 142px;
  border-bottom: 1px solid global.$border-color;
}

.search-product {
  width: 300px;
  height: 44px;
  padding: 8px;
  border: 1px solid global.$border-color;
  border-radius: 6px;
}

.icon-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  span {
    background-color:#dcdcdc;
    height: 20px;
    width: 20px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -5px;
    right: -20px;
    font-size: 12px;
    font-weight: 500;
  }
}