@use '../../global.scss';

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 142px;
  border-bottom: 1px solid global.$border-color;
}

.search-product {
  width: 300px;
  height: 44px;
  padding: 8px;
  border: 1px solid global.$border-color;
  border-radius: 6px;
}

