@use '../../global.scss';

.details-container {
  display: flex;
  flex-direction: column;
  padding: 60px;
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.product-details {
  display: grid;
  grid-template-areas: 
          'image info'
          'description description ';
  
  margin-top: 48px;
  gap: 36px;
  justify-content: space-around;
  padding: 48px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.details-img {
  grid-area: image;
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: global.$primary-color;

  img {
    width: 90%;
    height: 90%;
    mix-blend-mode: multiply;
  }
}

.datails-info {
  grid-area: info;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 54px;

  h2 {
    color: global.$text-color;
  }

  span {
    font-size: 18px;
    font-weight: 700;
  }
}

.btn-add-cart {
  background-color: global.$bg-button;
  width: 260px;
  height: 46px;
  padding: 6px 12px;
  border-radius: 6px;
  font-weight: 500;
  text-transform: uppercase;
}

.product-description {
  grid-area: description;
  text-align: justify;
  width: 90%;

  h2 {
    margin-bottom: 12px;
    color: global.$text-color;
  }
}

.details-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 142px;
  border-bottom: 1px solid global.$border-color;
}

@media(max-width: 950px){

  .details-container {
    padding: 24px;
  }
  
  .product-details {
    justify-content: center;
    grid-template-areas: 
          'image image'
          'info info'
          'description description ';
  }

  .details-img {
    width: 100%;
    height: 100%;
  }

}